.navbar-wrapper {
  width: 100%;
  margin-top: 2vh;
  padding-left: 34vh;
  padding-top: 5vh;
  padding-right: 35vh;
  padding-bottom: 1vh;
  font-size: 23px;
  display: flex;
  z-index:1;
  background-color: black;
  color: white;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  .name {
    font-weight: 600;
  }
  .links-wrapper {
    button {
      text-decoration: none;
      font-family: "Open Sans";
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 16px;
      background-color: black;
      border-right: 2px;
      border-color: white;
      color:white;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .active {
      color: black;
      border: 2px;
    }
    a {
      text-decoration: none;
      font-family: "Open Sans";
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 16px;
      background-color: black;
      color:white;
      outline: none;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}
